<div class="login-wrapper">
    <div class="login-card shadow-sm">
      <div class="text-center mb-4">
        <h2 class="login-title">Inka Productos</h2>
        <p class="login-subtitle">Gestión de Inventario</p>
      </div>
      
      <form (submit)="onLogin(); $event.preventDefault()">
        <div class="mb-3">
          <label class="form-label custom-label">Email</label>
          <input type="email" name="email" [(ngModel)]="email" 
                 class="form-control custom-input" placeholder="admin@project.com">
        </div>
        
        <div class="mb-4">
          <label class="form-label custom-label">Contraseña</label>
          <input type="password" name="password" [(ngModel)]="password" 
                 class="form-control custom-input" placeholder="admin123">
        </div>
        
        <button type="submit" class="btn btn-login w-100">Iniciar Sesión</button>
        
        <div class="text-center mt-4">
          <p class="register-text">¿Nuevo en Inka Productos?</p>
          <button type="button" class="btn btn-outline-register w-100">Crear una Nueva Cuenta</button>
        </div>
      </form>
    </div>
  </div>